.header {
    text-align: center;
}

.header img {
    height: 70px;
    margin-top: 5px;
}

.header nav {
    background-color: black;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    padding: 10px;
}

.header nav ul li:hover {
    background-color: lightgray;
}

.header nav ul li a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;

}